html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.sand-box {
  height: 10rem;
  width: 100%;
  position: relative;
  border: 1px solid red;
}
.dino {
  width: 4rem;
  height: 4rem;
  background-image: url('../images/dino-stationary.png');
  background-size: cover;
  background-position: center;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.ground {
  /* border: 1px solid red; */
  height: 2rem;
  width: 100rem;
  background-image: url('../images/ground.png');
  /* background-size: 100rem; */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.score {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
